Repository inDriver/handbook, changes with the owners that CODEOWNERS names for each.
All owners: @agoncharova-indriver, @IgorNovoseltsev, @lookforward-github, @danyaw00f, @lisachenko-indriver, @bald2b, @AlexeyAkulovich, @eeeeehhhhhhhhhh, @lonely-lockley, @indbatyrov, @Denis-Rybin, @Ivan1Vasilev, @dariabalbenova, @dnsmrkv, @GlebMakarovID

CODEOWNERS:

/image @agoncharova-indriver
/TOC.yaml @agoncharova-indriver
/docs/ @agoncharova-indriver
/docs/about-handbook/ @agoncharova-indriver
/docs/communication/ @agoncharova-indriver
/docs/company/ @agoncharova-indriver
/docs/documentation-culture/ @agoncharova-indriver
/docs/people/crafters/ @IgorNovoseltsev
/docs/people/hiring/ @agoncharova-indriver
/docs/people/activity-map.md @lookforward-github @agoncharova-indriver
/docs/people/people-management.md @agoncharova-indriver
/docs/people/team-types.md @danyaw00f @agoncharova-indriver
/docs/people/onboarding @agoncharova-indriver
/docs/software-architecture/ @lisachenko-indriver @agoncharova-indriver
/docs/software-development/dev/guidelines/backend/ @bald2b @agoncharova-indriver @AlexeyAkulovich
/docs/software-development/dev/guidelines/backend/db-guideline.md @eeeeehhhhhhhhhh @lonely-lockley @agoncharova-indriver
/docs/software-development/dev/guidelines/qa.md @indbatyrov @agoncharova-indriver
/docs/software-development/dev/guidelines/rfc2119.md @lisachenko-indriver @agoncharova-indriver
/docs/software-development/dev/guidelines/security/ @Denis-Rybin @agoncharova-indriver
/docs/software-development/dev/guidelines/security-guideline.md @Denis-Rybin @Ivan1Vasilev @agoncharova-indriver
/docs/strategy-and-management/productivity-measurement-framework/ @IgorNovoseltsev @agoncharova-indriver
/docs/strategy-and-management/productivity-measurement-framework/tmm-metrics.md @dariabalbenova @agoncharova-indriver
/docs/strategy-and-management/team-maturity-model @agoncharova-indriver @dariabalbenova
/docs/strategy-and-management/acceptance-criteria.md @agoncharova-indriver
/docs/strategy-and-management/action-points.md @agoncharova-indriver
/docs/strategy-and-management/backlog-organization.md @danyaw00f @agoncharova-indriver
/docs/strategy-and-management/daily-sprint-workflow.md @danyaw00f @agoncharova-indriver
/docs/strategy-and-management/decomposition.md @danyaw00f @agoncharova-indriver
/docs/strategy-and-management/devex-metrics.md @dnsmrkv @agoncharova-indriver
/docs/strategy-and-management/discovery.md @agoncharova-indriver
/docs/strategy-and-management/discovery-sync.md @agoncharova-indriver
/docs/strategy-and-management/dor.md @agoncharova-indriver
/docs/strategy-and-management/inspire-overview.md @agoncharova-indriver @IgorNovoseltsev
/docs/strategy-and-management/engineering-workflow.md @danyaw00f @agoncharova-indriver
/docs/strategy-and-management/operations-planning.md @agoncharova-indriver
/docs/strategy-and-management/product-process.md @agoncharova-indriver
/docs/strategy-and-management/product-team-meetings.md @danyaw00f @agoncharova-indriver
/docs/strategy-and-management/program-management.md @GlebMakarovID @agoncharova-indriver
/docs/strategy-and-management/program-and-project-stages.md @GlebMakarovID @agoncharova-indriver
/docs/strategy-and-management/quarterly-planning.md @agoncharova-indriver @danyaw00f
/docs/strategy-and-management/retrospective @danyaw00f @agoncharova-indriver
/docs/strategy-and-management/system-review.md @agoncharova-indriver @danyaw00f
/docs/strategy-and-management/task-estimation.md @danyaw00f @agoncharova-indriver
/docs/strategy-and-management/tech-insight.md @agoncharova-indriver @danyaw00f
/docs/abbreviations-and-acronyms.md @agoncharova-indriver
/docs/glossary/ @agoncharova-indriver

Add markdonw-linter.yaml
  .github/workflows/markdown-linter.yaml
Owners: none

add contributors
  .github/workflows/update-contributors.yml
  CONTRIBUTORS.md
  README.md
Owners: none

Rename cold-warn-storage.md to cold-warm-storage.md
  docs/software-architecture/cold-warm-storage.md
Owners: @lisachenko-indriver, @agoncharova-indriver

Fix README
  README.md
Owners: none

Fix typo in writing guideline doc
  docs/documentation-culture/writing-guideline.md
Owners: @agoncharova-indriver

Remove inexisting channel in documentation day doc
  docs/documentation-culture/documentation-day.md
Owners: @agoncharova-indriver

Remove duplicate content for architecture committee doc
  docs/software-architecture/architecture-committee.md
Owners: @lisachenko-indriver, @agoncharova-indriver

Remove the unnecessary link transition in contributing doc
  docs/documentation-culture/contributing.md
Owners: @agoncharova-indriver

Address Agon's feedback regarding documentation day channel
  docs/documentation-culture/documentation-day.md
Owners: @agoncharova-indriver

Revert unnecessary changes
  docs/documentation-culture/documentation-day.md
Owners: @agoncharova-indriver

Revert unnecessary changes
  docs/documentation-culture/documentation-day.md
Owners: @agoncharova-indriver

Fix: updates images
  docs/image/5-tiers.png
  docs/image/Crafters1.png
  docs/image/Crafters3.png
  docs/image/Tech_debt_&_investments.png
  docs/image/backend-task-forkflow.png
  docs/image/communication-cadence.png
  docs/image/decomposition-scheme.jpg
  docs/image/decomposition-scheme.png
  docs/image/discovery-framework.png
  docs/image/engineering-ladder.png
  docs/image/inspire.png
  docs/image/pre-delivery-post.png
  docs/image/product-backlog.png
  docs/image/prоduct-process.png
  docs/image/tech-debt-2.png
  docs/image/validation-process-description.png
  docs/strategy-and-management/inspire-overview.md
  docs/strategy-and-management/pre-delivery-process-rh.md
  docs/strategy-and-management/product-process.md
  docs/strategy-and-management/team-maturity-model/pre-delivery-process-rh.md
  docs/strategy-and-management/team-maturity-model/tmm-changelog.md
Owners: @agoncharova-indriver, @IgorNovoseltsev, @dariabalbenova

Update about-handbook.md
  docs/about-handbook/about-handbook.md
Owners: @agoncharova-indriver

Fix: delete images
  docs/image/5-tiers.png
  docs/image/Crafters1.png
  docs/image/Crafters3.png
  docs/image/Crafters5.png
  docs/image/Crafters6.png
  docs/image/Crafters7.png
  docs/image/Tech_debt_&_investments.png
  docs/image/backend-task-forkflow.png
  docs/image/communication-cadence.png
  docs/image/decomposition-scheme.png
  docs/image/default-visibility.png
  docs/image/discovery-framework.png
  docs/image/documentation-types-diagram.png
  docs/image/engineering-ladder.png
  docs/image/linearb-benchmarks-2023-avg.png
  docs/image/linearb-benchmarks-2023-p75.png
  docs/image/out-of-office.png
  docs/image/prd-field.png
  docs/image/product-backlog.png
  docs/image/prоduct-process.png
  docs/image/snippet-example-atlassian.png
  docs/image/snippet-example-figma.png
  docs/image/snippet-example-file.png
  docs/image/snippet-example-url.png
  docs/image/tech-debt-2.png
  docs/image/validation-process-description.png
  docs/image/working-hours-location.png
Owners: @agoncharova-indriver

Fix: add images
  docs/image/5-tiers.png
  docs/image/Crafters1.png
  docs/image/Crafters3.png
  docs/image/Crafters5.png
  docs/image/Crafters6.png
  docs/image/Crafters7.png
  docs/image/Tech_debt_&_investments.png
  docs/image/backend-task-forkflow.png
  docs/image/communication-cadence.png
  docs/image/decomposition-scheme.png
  docs/image/default-visibility.png
  docs/image/discovery-framework.png
  docs/image/documentation-types-diagram.png
  docs/image/engineering-ladder.png
  docs/image/linearb-benchmarks-2023-avg.png
  docs/image/linearb-benchmarks-2023-p75.png
  docs/image/out-of-office.png
  docs/image/prd-field.png
  docs/image/product-backlog.png
  docs/image/prоduct-process.png
  docs/image/snippet-example-atlassian.png
  docs/image/snippet-example-figma.png
  docs/image/snippet-example-file.png
  docs/image/snippet-example-url.png
  docs/image/tech-debt-2.png
  docs/image/validation-process-description.png
  docs/image/working-hours-location.png
Owners: @agoncharova-indriver

Fix: image
  docs/image/decomposition-scheme.png
Owners: @agoncharova-indriver

New Doc
  docs/communication/tech-channels-map.md
Owners: @agoncharova-indriver

Create middle I engineer.md
  docs/people/crafters/ladders/engineer track/middle I engineer.md
Owners: @IgorNovoseltsev

Delete docs/people/crafters/ladders/engineer track directory
  docs/people/crafters/ladders/engineer track/middle I engineer.md
Owners: @IgorNovoseltsev

Add files via upload
  docs/people/crafters/metrics-and-organizational-design-principles.md
  docs/people/crafters/model-principles.md
  docs/people/crafters/the-crafters-model.md
Owners: @IgorNovoseltsev
